

::-webkit-scrollbar:horizontal {
  display: none !important;
}


.carousel {
  overflow-x: scroll;
  padding: 30px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.carousel__container {
  display: flex;
  white-space: nowrap;
  margin-bottom: 70px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.categories__title {
  color: rgb(77, 55, 102);
  font-size: 28px;
  position: absolute;
  user-select: none;
}

.carousel-item {
  flex-shrink: 0;
  width: 200px;
  height: 290px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 1rem;
  margin-top: 50px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 1000ms all;
  transition: 1000ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  position: relative;
  opacity: 0.99;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
}




.carousel-item__img {
  width: 200px;
  height: 290px;
  -o-object-fit: cover;
  object-fit: cover;
  user-select: none;
}

.carousel-item__details {
  background-color: rgb(26, 26, 26);
  height: 85px;
  font-size: 10px;
  font-weight: 200;
  opacity: 1;
  white-space: normal ;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: 10px 0px 0px 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.carousel-item__details span {
  font-size: 0.9rem;
}


.carousel-item__details .carousel-item__details--title{

  color: #fff;
  margin: 5px 0;
  font-size: 1.2em; 
  user-select: none;
}

.carousel-item__details--subtitle {
  color: #fff;
  font-size: 1em; 
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: left;
  user-select: none;
}

@media screen and (min-width: 800px){

  .carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  .carousel-item__details:hover { 
    opacity: 1;                                                             
  }
  @keyframes carousel{
    0%   { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(calc(5 * -200px), 0, 0); }
  }
  .carousel-item:hover ~ .carousel-item {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  
  
}


@media screen and (max-width: 1120px){
  .carousel__container {
    justify-content: flex-start;
  }
  .carousel-item {
    height: 290px;
    margin-right: 0.5rem;
  }
  .carousel-item__img {
    height: 290px;
  }
  

}
